Guide what to report in the Results
.Rproj.user
/.quarto/
*.pdf
*.Rproj
Naomi.Rproj
Data/elf compiled (stereotype pacing, stereotype pacing, regular swimming).mp4
Data/Kraken compiled (interaction with surface, and resting).mp4
Data/Behaviour description.xlsx
